black
breathe
build
cibuildwheel
pytest
pytest-mock
scikit-build-core>=0.12
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-mermaid
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tox
