name: Build & Test

on:
  push:
  pull_request:
    branches:
      - master
  
jobs:
  linux:
    uses: ./.github/workflows/build-and-test-linux.yml
    with:
      upload-artifact: false
  
  # macos:
  #   uses: ./.github/workflows/build-and-test-macos.yml

  # linux-MPI:
  #   uses: ./.github/workflows/build-and-test-linux-mpi.yml

  # macos-MPI:
  #   uses: ./.github/workflows/build-and-test-macos-mpi.yml
